.main_container{
display:flex;

width: 100%;
background-color: rgb(190, 30, 30);
align-self: center;
justify-self: center;
display: flex;
justify-content: center;
flex-direction: column;
 

}

.extras_link + div{  
     background-color: rgb(102, 19, 19);
     display: flex;
     width: 100%;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     
    
}

.movies_container{
    display: flex;
/* background-color: #fff; */
border: 1px solid blue;
width: 100%;
flex-direction: column;
flex-wrap: wrap;
flex-grow: 1;

/* text-align: center;
justify-content: center;
display: flex; */
}
.movies_container p{
/* /* text-align: start; */
margin: 0;
margin-top:15px;
font-size: 25px;
width:30%;

/* background-color: rgb(68, 13, 13); */

/* color: aliceblue  */


}
.movies_container  div{

}
.extras_link{

  display: inline-block;
width: 100%;
    color: rgb(37, 28, 28);
 text-align:end

}