.main_container{
display:flex;

width: 100%;
background-color: rgb(190, 30, 30);
/* justify-content: center; */
/* flex-wrap: wrap; */
/* overflow: scroll; */

}
.movies_container{
    /* display: flex; */
/* background-color: #fff; */
text-align: center;
justify-content: center;
}
.movies_container p{
    /* display: flex; */
text-align: start;
margin: 0;
font-size: 25px;
color: aliceblue


}
.movies_container  div{
    display: flex;
    /* background-color: rgb(82, 216, 176); */
}
.extras_link{

  display: inline-block;
width: 100%;
    color: rgb(228, 224, 224);
 text-align:end

}