html, body{
  height: 100%;
  /* background-color:rgb(19, 145, 128); */
  margin: 0;
  padding: 0;
}

/* #testapp{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: green;
} */

 body{

     background-color:rgb(19, 145, 128);


} 
.app_container{
display: flex;
    /* background-color: red; */
    position: absolute;
    top:30px;
    width: 100%;
    z-index: -1;
    height: 100%;



}
