.pagination{
    /* background-color: red; */
    justify-content: center;
    /* padding-top: 50px; */
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;


}

.pagination a {
    background-color: rgb(195, 155, 155);
    text-align: center;
    margin:0px 10px 0px 10px;

}
