.header_container {
  background-color: rgba(137, 118, 197, 0.973);
  height: 30px;
  display: flex;
  max-width: 100%;
  overflow: visible;
  justify-content: center;
  position: fixed;
  margin: -2;
  width: 100%;
  z-index: 0;
  margin: 0 auto;
    /* flex-direction: column; */
}

#search_field {
  background-color: blue;
}

#nav_burger {
  position: absolute;
  left: 0;
  z-index: 4;
}

.menu {
  width: 20%;
  /* background-color: rgb(13, 4, 65); */
  margin: 0;
  background-color: #ccc;
  left: 0;
  height: 100vh;
padding-top: 20px;
display: inline-block;
text-align: center;
/* z-index: 4; */

  transform: translate(-1000px);
  /* transform: translate(0px); */
}


#nav_burger[type="checkbox"]:checked+.menu {
  background-color: #ccc;
  margin: 0;
  /* background-color:rgb(48, 1, 1); */
  cursor: pointer;
  transform: translate(0px);
  /* margin: 500px; */
  z-index: 3;
}

g {}

.search_container {
  /* order:  */
  align-self: center;
  justify-self: center;
  margin: auto;
  order: 1;
}



.right_profile_btn{
  order:3;
  
  /* background-color: blue; */
  justify-self: flex-end
}

.right_profile_btn input{
  position: absolute;
  right: 0;
  margin: 8px 10px;
  /* background-color: blue; */
  justify-self: flex-end
}

.right_menu{
  /* visibility: hidden; */
  height: 200px;
  background-color:purple;
  width: 150px;
  margin:25px;
  margin-right: 35px;
  position:justify;
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* visibility: hidden; */
 /* display: none; */
  
  
}

.right_menu a{
  /* visibility: hidden; */
  color:black;
  padding: 20px;
 font-size: 20px;

  
  
}

.right_menu a:nth-child(2){
  /* visibility: hidden; */
  color:black;
  padding: 25px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc

  
  
}


.right_profile_btn input:checked + .right_menu{
  visibility: visible;
  
 

 background-color:yellow;
}